<!DOCTYPE html>
<html lang="pt-br">
  <%- include('../partials/head'); %>
  <body class="container">
    <%- include('../partials/header', {pagina: 'Sobre'}); %>
    <main>
      <div class="container">
        <h1>Sobre mim</h1>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sint, quae
          libero facilis maiores culpa architecto laborum, et suscipit odio esse
          harum quo cupiditate tenetur tempore dignissimos soluta atque eos
          molestiae.
        </p>
      </div>
    </main>
    <%- include('../partials/footer'); %>
  </body>
</html>
